{% extends "layout.html" %}
{% block content %}
<div class="content-section">
   <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
        <div class="form-group">
            {{ form.search.label(class="form-control-label") }}
            {% if form.search.errors %}
                        {{ form.search(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search(class="form-control form-control-lg") }}
                    {% endif %}
 
        </div>
    </fieldset>
        <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
        </div>
   </form>
 </div>

 <div>
<div class="form-group shadow-textarea" style="margin-top: 30px;text-align: center;color: white;">
    <input type="text" name="movie" class="movie form-control" id="autoComplete" autocomplete="on" placeholder="Enter the Movie Name" style="background-color: #ffffff;border-color:#ffffff;width: 60%;color: #181818" required="required" />
</div>
    <div class="all_books">
        <h1>Popular Books</h1>
    <div class="grid-container">
    {% for book in books_stats %}
        <div class="grid-item">
            <img src= {{ book.img }} class="center" >
            <div class="product-bottom text-center">
            <h7 class="title"><a href="#"> {{ book.title }} </a></h7>
            <div class="author">By {{ book.author }} </div>
            <div class="published"> {{ book.date_published }} </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
</div>

{% endblock content %}
