.container
{
    width: 100%:
    margin-top: 20%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.container h2
{
    background: #0062cc;
    color: red;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}
.all_books
{
    margin-top: 30px;

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
img
{
    float: left;
    width:  98px;
    height: 147px;
    background-size: cover;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-bottom .fa
{
    color: #28a745;
    font-size: 10px;
}
.product-bottom h3
{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5
{
    font-size: 15px;
    padding-bottom: 10px;
}
.overlay
{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.product-top:hover .overlay
{

}